name: Automation API CI/CD

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
  push:
    branches:
      - master
      - development

jobs:
  build-production:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'  # Run for 'master' branch

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install Dependencies
      run: npm i
    - name: API Production Test Run
      env:
        URL_GOREST: ${{ vars.URL_GOREST }}
        QASE_API: ${{ vars.QASE_API }}
        QASE_TOKEN: ${{ secrets.QASE_TOKEN }}
        TOKEN_GOREST: ${{ secrets.TOKEN_GOREST }}
      run: npm run test-gorest
    - name: Archive Reports
      uses: actions/upload-artifact@v4
      with:
        name: automation-api-report-prd
        path: /home/runner/work/automation-api-cucumber/automation-api-cucumber/reports/mochawesome
